body {
	font family:'Trebuchet MS', Helvetica, sans-serif;
	height: 100%;
	margin: 0;
	text-align: Left;
	width: 100%;
}

h1 {
	font-size: 32px;
        font-family:'Trebuchet MS', Helvetica, sans-serif;
}

h2 {
	font-size: 25px;
}

h3 {
	
	font size: 25px;
}

h4 {
	font size: 20px;
}

hero {
	padding: 250px 0;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-image: url("https://wallpapersafari.com/w/OndXb0/");
   background-size: cover;
   color: black;
}

p {
color: black;
}
